{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение книги</title>
    <link rel="stylesheet" href="{% static 'bookapp/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'bookapp/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="page_block">
            {% if flag == 'error' %}
                <h1 class="title_1">Ошибка заполнения формы</h1>
            {% elif name %}
                <h1 class="title_1">Изменение книги: {{ name }}</h1>
            {% else %}
                <h1 class="title_1">Создание книги</h1>
            {% endif %}


            <div class="create_block">
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <input type="hidden" name="id" value="{{ id }}">
                    </p>
                    <p>
                        <input type="text" name="name" value="{% firstof name '' %}" placeholder="Введите название книги">
                    </p>
                    <p>
                        <input type="text" name="title" value="{% firstof title '' %}" placeholder="Введите title">
                    </p>
                    <p>
                        <input type="text" name="author" value="{% firstof author '' %}" placeholder="Введите автора">
                    </p>
                    <p>
                        <input type="text" name="description" value="{% firstof description '' %}" placeholder="Напишите короткое описание">
                    </p>
                    <p>
                    {% if flag == 'error' %}
                        <input type="text" name="price" value="{% firstof price '' %}" placeholder="Введите стоимость книги">
                    {% else %}
                        <input type="number" name="price" value="{% firstof price '' %}" placeholder="Введите стоимость книги">
                    {% endif %}
                    </p>
                    <button type="submit" class="btn_reset btn">
                        {% if name %}
                            Обновить
                        {% else %}
                            Добавить
                        {% endif %}
                    </button>
                </form>
            </div>
            <div class="create_block">
                <a href="{% url 'bookapp:books' %}">
                    <button class="btn_reset btn">
                        Вернуться к списку книг
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>